@import './iconfont.css';
@import './shiki.css';
@import './markdown.css';
@import './signature.css';
@import './swup.css';

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;700&display=swap');

@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

::selection {
  background-color: theme('colors.accent');
  color: white;
}

[data-theme='dark'] ::selection {
  background-color: theme('colors.accent/0.3');
}

html {
  font-family:
    'Atkinson',
    'Kiwi Maru',
    'Hiragino Kaku Gothic ProN',
    'Yu Gothic',
    Meiryo,
    'Noto Sans JP',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  color: theme('textColor.primary');
  background-color: theme('backgroundColor.root');
  scroll-padding-top: 64px;
}

html.gray {
  filter: grayscale(1);
}

:lang(ja) {
  font-family:
    'Kiwi Maru', 'Atkinson', 'Hiragino Kaku Gothic ProN', 'Yu Gothic', Meiryo, 'Noto Sans JP', serif;
}

* {
  scrollbar-width: thin;
}
