---
import Layout from '@/layouts/Layout.astro'
import { Flashlight } from '@/components/Flashlight'
---

<Layout title="404">
  <div class="max-w-[800px] mx-auto py-16 px-4 md:px-8">
    <h1 class="text-[4rem] md:text-[9rem] leading-tight font-bold">Not Found</h1>
    <a class="text-accent text-xl md:text-2xl inline-flex" href="/"
      ><i class="iconfont icon-arrow-left-up"></i>
      <span class="ml-2">Top Page</span></a
    >
  </div>
  <Flashlight client:only="react" />
</Layout>
